*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    gap: 2.5rem;
    max-width: 1640px;
    margin: 0 auto;
    margin-top: 5rem;
}
.productor{
    flex: 1.5;
    width: 100%;
}
.productor_table{
    width: 100%;
}
 .bill_form{
    flex: 1;
 }

 /* Form đăng kí */
 .form-group {
    margin-bottom: 10px;
  }
  
  .form-control {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .btn {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #ff0000;
  }
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-control {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
  }
    